.main{
    height : 100vh;
    width : 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
    font-family: Exo2-R;
}

.leftComp{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:35%;
}

.rightComp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: space-between; */
    width : 65%;
}

.me{
    border-radius: 20px;
}

.intro_breaker{
    width : 95%;
    margin: 5vh 2vw;
}

.heading{
    margin: 2vh 2vw;
    font-size: 1.75em;
    font-weight: 600;
}

.introduction{
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.intro_heading{
    padding: 2vh 0;
    font-size: 1.25em;
    font-weight: 600;
}

.intro{
    padding: 1vw 2vw 2vw 2vw;
    border-radius: 20px;
    background-color: transparent;
    border:1px solid #212121 ;
    color : #212121;
}