.main{
    width : 100%;
    height: 100vh;
    position: relative;
    font-family: Exo2-R;
}

.topBreaker{
    color: #212121;
    opacity: 80%;
}

.breaker{
    padding: 1.5% 0;
}

.content{
    display :flex;
    justify-content: space-between;
    /* align-items: center; */
}

@media screen and (max-width : 768px ) {
    .content{
        flex-direction: column;
        align-items: flex-start;
    }
    
}