.main{
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    margin: 2vh 0vw;
    font-size: 1.75em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    margin : 2vh 0 0 0;
    padding : 1em;
    min-width: fit-content;
    max-width: 35vw;
    height: 25vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border : solid 1px #212121;
    border-radius : 20px;
}

.title{
    font-size: 0.85em;
    color : #212121;
    opacity: 80%;
}

.job_title{
    font-weight: 600;
}

.upper_card{
    display: flex;
    justify-content: space-between;
}

.dates{
    color : #F4F4F2;
    padding: 0.5em 1em;
    min-width: fit-content;
    background-color: #233EFF;
    border-radius: 20px;
    font-size: 0.7em;
}

.months{
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
}

.timeline{
    padding: 0 1vw;
}