.main{
    width : 25vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    min-height:100%;
}

.main hr{
    margin: 4vh 0 1vh 0;
}

.heading{
    margin: 2vh 0vw;
    font-size: 1.75em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hardskills_img{
    border-radius: 20px;
}

.stack_icons{
    max-width: 25vw;
    display: flex;
}

.stack_icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
}

.icon_img{
    padding: 5px;
    border-radius: 20px;
}

.hardskills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 20px;
}

.expertise_content{
    font-size: 1.1em;
    font-weight: 500;
}

@media screen and (max-width : 768px) {

    .heading{
        padding-top: 5vh;
        min-width: 100%;
    }
    .main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stack_icons{
        max-width: 100%;
    }

    .icon_img{
        padding: 5px;
        border-radius: 20px;
    }

    .hardskills{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121;
        border-radius: 20px;
        min-width: 100vw;
    }

    .hardskills_img{
        width: 100%;
    }
    

    .expertise_content{
        font-size: 1.1em;
        font-weight: 500;
    }
}